$color1 : #fff;
$color2 : #000;
$color3 : #e4eaee;
$color4: #DFDFDF;
$color5:#525252;
$primary-color: #0c173b;
$hover-color: #2a3d75;
.wp360InvoiceCon{
    width: 100%;
    max-width: 750px;
    min-width: 450px;
    overflow: auto;
    background-color: $color1;
    color: $color2;
    margin: 0;
    box-sizing: border-box;
    padding: 50px 60px 60px;
    color: $color5;
    margin: auto;
    h2, h4, th, strong{
        color: $color2;
    }
    h2{
        text-align: center;
        font-size: 26px;
        text-transform: uppercase;
        font-weight: 500;
        margin: 0 0 50px;
    }
    p{
        font-size: 14px!important;
        margin-top: 0;
    }
    .invoiceHead{
        display: flex;
        justify-content: space-between;
        .invoceCompanyInfo{
            h4{
                margin: 0px; 
                font-size: 16px;
            }
            img{
                width: 120px;
            }
            small{
                font-size: 13px;
                width: 100%;
                display: block;
            }
        }
        .invoceNumberCon{
            text-align: right;
            font-size: 14px;
            line-height: 25px;
        }
    }
    .invoceHead2{
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        line-height: 25px;
        margin-top: 25px;
        h4{
            font-size: 16px;
            font-weight: 500;
            margin: 0;
        }
        p{
            margin: 0;
        }
        .receiptInfo{
            min-width: 170px;
            max-width: 250px;
        }
    }
    .invoSummCon{
        width: 100%;
        overflow: auto;
    }
    .invoiceSummary{
        width: 100%;
        border: solid 1px $color4;
        border-spacing: 0;
        margin: 30px 0;
        thead{
            tr{
                th{
                    background-color: $color3;
                    padding: 12px 20px;
                    text-align: left;
                    font-weight: 500;
                    white-space: nowrap;
                    font-size: 16px;
                    vertical-align: top;
                }
            }
        }
        tbody{
            tr{
                td{
                    padding: 12px 20px;
                    border-right: solid 1px $color3;
                    border-bottom: solid 1px $color3;
                    font-size: 14px;
                    vertical-align: top;
                    &:last-child{
                        border-right: none;
                    }
                }
            }
        }
    }
    .invoiceFooter{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .textCon{
            padding: 10px 5px 10px 0;
        }
        .bankDetail{
            border: solid 1px #e4eaee;
            width: 100%;
            font-size: 14px;
            div{
                padding: 20px;
            }
            h3{
                background-color: #e4eaee;
                font-weight: 500;
                font-size: 16px;
                margin: 0;
                padding: 12px 20px;
                color: #000;
            }
        }
        .infoTotalCon{
            width: 100%;
            max-width: 280px;
            display: flex;
            flex-wrap: wrap;
            padding-left: 40px;
            margin-left: auto;
            div{
                width: 100%;
                display: flex;
                text-align: center;
                font-size: 16px;
                padding: 5px 10px;
                *{
                    width: 50%;
                }
                &.totalInn2{
                    border-top: solid 2px $color2;
                    padding: 10px;
                }
            }
        }
    }
    .invoiceFooter2{
        width: 100%;
        font-size: 14px;
        margin: 50px 0;
        h4{
            margin: 0;
            padding: 0;
        }
        div{
            width: 100%;
            text-align: center;
        }
    }
}
.summaryTable{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
        display: flex;
        justify-content: space-between;
        padding-bottom: 5px;
        margin-bottom: 5px;
        border-bottom: solid 1px $color3;
        .itemPrice{
            padding-left: 30px;
        }
        &:last-child{
            border-bottom: none;
        }
    }
}
.invoiceSummaryTable{
    th,td{
        vertical-align: top!important;
    }
}

.wp360Invoice_action_buttons_wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6px 15px;
}
.wp360Invoice_action_buttons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6px 12px;
    justify-content: space-between;
    padding-bottom: 12px;
    border-bottom: 1px solid #d2d2d2;
    font-size: 16px;
    #wp360-invoice_printinvoice, .wp360_invoice_status_update, .view_receipt {
        background: #fff;
        border: 1px solid #0c173b;
        max-width: fit-content;
        padding: 4px 12px;
        cursor: pointer;
        color: #0c173b;
        margin-bottom: 8px;
        border-radius: 6px;
        line-height: 1.5;
        font-weight: 600;
    }
    .wp360_invoice_status_update, .view_receipt{
        background: #e4eaee;
        border: 1px solid #e4eaee;
        text-decoration: none !important;
    }
    .wp360_invoice_status{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-weight: 600;
        &.paid{
            i{
                background-color: #22a753;
                &:before{
                    content: "\f147";
                }
            }
        }
        i{
            background-color: #c32525;
            &:before{
                font-family: "Dashicons";
                font-style: normal;
                content: "\f158";
            }           
            height: 1.625rem;
            width: 1.625rem;
            color: #fff;
            font-weight: 500;
            font-size: 1.25rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;           
        }
    }
}
#receiptPopup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 1000;
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        max-width: 32em;
    }
    form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        flex-wrap: wrap;        
        label{
            font-size: clamp(20px, 3vw, 26px);
            font-weight: 600;
        }
        input[type="file"]{
            margin: 10px 0px 20px;
        }
    }    
    button{
        cursor: pointer;
        border-radius: 6px;
        padding: 12px 20px;
        border: none;
        &:not(.siteBtn){
            background: #e8e8e8;
            color: #000;
        }
    }
}
.siteBtn{
    background-color: $primary-color;
    border-radius: 6px;
    color: #FFF;
    transition: ease background-color 0.3s, ease filter 0.3s, ease transform 0.3s;
    &:hover{
        background-color: $hover-color;
    }
    border: none;
}
#wp360_invoice_receipt_modal {
    display: none; 
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    .modal-content {
        background-color: #fefefe;
        margin: clamp(50px, 5vw, 5vw) auto;
        padding: 20px;
        border: 1px solid #888;
        width: calc(100% - 30px);
        text-align: center;
        max-width: 1500px;
        position: relative;
    }    
    .close {
        font-size: 28px;
        font-weight: bold;
        aspect-ratio: 1 / 1;
        background: #080808;
        padding: 5px;
        border-radius: 50%;
        color: white;
        position: absolute;
        right: -10px;
        top: -10px;
        z-index: 5;
        text-decoration: none;
        cursor: pointer;
        line-height: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }    
}
@media print {
    .container{
        padding: 0!important;
    }
    *{ 
        color-adjust: exact;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact; 
        -webkit-appearance: initial;
        -webkit-appearance : caret;
    }
    .grecaptcha-badge,
    .cky-consent-container,
    .switch,
    #secondary{
        display: none!important;
    }
    .woocommerce-MyAccount-content{
        background:#fff!important;
        background-color:#fff!important;
        width: 100%!important;
        padding: 60px 30px 15px 30px;
        .wp360InvoiceCon{
            padding: 0!important;
        }
    }
    @page { 
        size: portrait;
        margin:0mm;
    }
    header,footer,.woocommerce-MyAccount-navigation{
      display: none;
    }
    .hidden-print {
        display: none !important;
    }
    .wp-block-post-title,.post-title{
        display: none!important;
    }
}
.pre_line{
    white-space: pre-line;
}
// webdev6-2
