.wp360InvoiceCon {
  width: 100%;
  max-width: 750px;
  min-width: 450px;
  overflow: auto;
  background-color: #fff;
  color: #000;
  margin: 0;
  box-sizing: border-box;
  padding: 50px 60px 60px;
  color: #525252;
}
.wp360InvoiceCon h2, .wp360InvoiceCon h4, .wp360InvoiceCon th, .wp360InvoiceCon strong {
  color: #000;
}
.wp360InvoiceCon h2 {
  text-align: center;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0 0 35px;
}
.wp360InvoiceCon p {
  font-size: 14px !important;
}
.wp360InvoiceCon .invoiceHead {
  display: flex;
  justify-content: space-between;
}
.wp360InvoiceCon .invoiceHead .invoceCompanyInfo img {
  width: 80px;
}
.wp360InvoiceCon .invoiceHead .invoceCompanyInfo small {
  font-size: 13px;
  width: 100%;
  display: block;
}
.wp360InvoiceCon .invoiceHead .invoceNumberCon {
  text-align: right;
  font-size: 14px;
  line-height: 25px;
}
.wp360InvoiceCon .invoceHead2 {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 25px;
  margin-top: 25px;
}
.wp360InvoiceCon .invoceHead2 h4 {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}
.wp360InvoiceCon .invoceHead2 p {
  margin: 0;
}
.wp360InvoiceCon .invoceHead2 .receiptInfo {
  min-width: 170px;
}
.wp360InvoiceCon .invoSummCon {
  width: 100%;
  overflow: auto;
}
.wp360InvoiceCon .invoiceSummary {
  width: 100%;
  border: solid 1px #DFDFDF;
  border-spacing: 0;
  margin: 30px 0;
}
.wp360InvoiceCon .invoiceSummary thead tr th {
  background-color: #e4eaee;
  padding: 12px 20px;
  text-align: left;
  font-weight: 500;
  white-space: nowrap;
  font-size: 16px;
  vertical-align: top;
}
.wp360InvoiceCon .invoiceSummary tbody tr td {
  padding: 12px 20px;
  border-right: solid 1px #e4eaee;
  border-bottom: solid 1px #e4eaee;
  font-size: 14px;
  vertical-align: top;
}
.wp360InvoiceCon .invoiceSummary tbody tr td:last-child {
  border-right: none;
}
.wp360InvoiceCon .invoiceFooter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.wp360InvoiceCon .invoiceFooter .textCon {
  padding: 10px 5px 10px 0;
}
.wp360InvoiceCon .invoiceFooter .infoTotalCon {
  width: 100%;
  max-width: 210px;
  display: flex;
  flex-wrap: wrap;
}
.wp360InvoiceCon .invoiceFooter .infoTotalCon div {
  width: 100%;
  display: flex;
  text-align: center;
  font-size: 16px;
  padding: 5px 10px;
}
.wp360InvoiceCon .invoiceFooter .infoTotalCon div * {
  width: 50%;
}
.wp360InvoiceCon .invoiceFooter .infoTotalCon div.totalInn2 {
  border-top: solid 2px #000;
  padding: 10px;
}

.summaryTable {
  margin: 0;
  padding: 0;
  list-style: none;
}
.summaryTable li {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: solid 1px #e4eaee;
}
.summaryTable li .itemPrice {
  padding-left: 30px;
}
.summaryTable li:last-child {
  border-bottom: none;
}

.invoiceSummaryTable th, .invoiceSummaryTable td {
  vertical-align: top !important;
}

#wp360-invoice_printinvoice {
  background: #004c6d;
  max-width: fit-content;
  padding: 10px 25px;
  cursor: pointer;
  color: #fff;
  margin-bottom: 14px;
  font-size: 16px;
  border-radius: 0;
}

@media print {
  .container {
    padding: 0 !important;
  }
  * {
    color-adjust: exact;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    -webkit-appearance: initial;
    -webkit-appearance: caret;
  }
  .grecaptcha-badge, .cky-consent-container {
    display: none !important;
  }
  .woocommerce-MyAccount-content {
    background: #fff !important;
    width: 100% !important;
    padding: 60px 30px 15px 30px;
  }
  .woocommerce-MyAccount-content .wp360InvoiceCon {
    padding: 0 !important;
  }
  @page {
    size: portrait;
    margin: 0mm;
  }
  header, footer, .woocommerce-MyAccount-navigation {
    display: none;
  }
  .hidden-print {
    display: none !important;
  }
  .wp-block-post-title, .post-title {
    display: none !important;
  }
}/*# sourceMappingURL=front_style.css.map */