.wp360-invoice-addInvoice {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
.wp360-invoice-addInvoice form {
  width: 100%;
  max-width: 600px;
}

.wp360-invoice-addInvoice .wp360_invoice_addInvoiceItemCon {
  width: 100%;
}
.wp360-invoice-addInvoice .invoiceFormInn {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}
.wp360-invoice-addInvoice .invoiceFormInn.wp360_invoice_itemsCon {
  flex-wrap: wrap;
}
.wp360-invoice-addInvoice .invoiceFormInn.radioButtonCon {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
}
.wp360-invoice-addInvoice .invoiceFormInn.radioButtonCon h3 {
  font-weight: normal;
  width: 100%;
  margin: 0 0 10px;
}
.wp360-invoice-addInvoice .invoiceFormInn.radioButtonCon .radioButtons {
  display: flex;
  align-items: center;
}
.wp360-invoice-addInvoice .invoiceFormInn.radioButtonCon .radioButtons label {
  margin-right: 10px;
}
.wp360-invoice-addInvoice .invoiceFormInn .wp360_invoiceItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}
.wp360-invoice-addInvoice .invoiceFormInn .selectWrapper {
  flex-wrap: wrap;
}
.wp360-invoice-addInvoice .invoiceFormInn .selectWrapper h3 {
  font-weight: normal;
  width: 100%;
  margin: 0 0 10px;
}
.wp360-invoice-addInvoice form .button {
  background-color: #007cba;
  color: #fff;
}
.wp360-invoice-addInvoice form .selectFieldStyle {
  max-width: 600px;
  padding: 6px 30px 6px 10px;
  background-color: #f6f7f7;
  border: 1px solid #c3c4c7;
}
.wp360-invoice-addInvoice form .textFieldStyle {
  width: 100%;
  max-width: 600px;
  padding: 6px 10px;
  background-color: #f6f7f7;
  border: 1px solid #c3c4c7;
}
.wp360-invoice-addInvoice form .textAreaStyle {
  width: 100%;
  max-width: 600px;
  padding: 6px 10px;
  background-color: #f6f7f7;
  border: 1px solid #c3c4c7;
  height: 150px;
}
.wp360-invoice-addInvoice form .fullWidth {
  width: 100%;
}
.wp360-invoice-addInvoice form .halfWidth {
  width: calc(50% - 10px);
}
.wp360-invoice-addInvoice form .oneThirdWidth {
  width: calc(33% - 10px);
}
.wp360-invoice-addInvoice .disableField {
  background-color: #c3c4c7 !important;
}

.wp360-invoice-settings ._CISettingIn {
  width: 100%;
  background-color: #fff;
  display: block;
  padding: 20px 30px;
  margin-top: 30px;
  box-sizing: border-box;
}
.wp360-invoice-settings ._CISettingIn h2 {
  color: #007cba;
  text-transform: uppercase;
}
.wp360-invoice-settings ._CISettingIn table {
  border-spacing: 0;
  width: 100%;
  border: none;
}
.wp360-invoice-settings ._CISettingIn table th {
  text-align: left;
  font-weight: 600;
  width: 200px;
  padding: 10px 20px 10px 0;
  vertical-align: top;
}
.wp360-invoice-settings ._CISettingIn table td {
  padding: 10px 0;
  vertical-align: top;
}
.wp360-invoice-settings ._CISettingIn table form {
  max-width: 600px;
}

.wp360-inovice-hideElm {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}

.invoiceSettingsWrapper {
  margin-top: 1rem;
}
.invoiceSettingsWrapper .dflex {
  display: flex;
  flex-wrap: wrap;
}
.invoiceSettingsWrapper .wp360_submit_wrapper {
  width: 100%;
}
.invoiceSettingsWrapper #wp360_invoice-settings-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0.875rem;
}
.invoiceSettingsWrapper #wp360_invoice-settings-form fieldset {
  background: #fff;
  border: 1px solid #e3e6ef;
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(18, 25, 97, 0.0779552);
  box-sizing: border-box;
  flex: 0 0 calc(50% - 0.875rem);
}
.invoiceSettingsWrapper #wp360_invoice-settings-form fieldset.fullWidth {
  flex: 0 0 100%;
}
.invoiceSettingsWrapper #wp360_invoice-settings-form fieldset#wp360-firm-details-fields hr {
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 0;
}
.invoiceSettingsWrapper #wp360_invoice-settings-form fieldset#wp360-firm-details-fields .dflex {
  gap: 24px;
}
.invoiceSettingsWrapper #wp360_invoice-settings-form fieldset#wp360-firm-details-fields .dflex > div {
  flex: 1;
}
.invoiceSettingsWrapper #wp360_invoice-settings-form fieldset#wp360-firm-details-fields .dflex > div.toggle_firm_logo {
  flex: 0 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 200px;
}
.invoiceSettingsWrapper #wp360_invoice-settings-form fieldset#wp360-firm-details-fields .dflex .removeFieldWrapper {
  flex: 100%;
}
.invoiceSettingsWrapper #wp360_invoice-settings-form fieldset#wp360-firm-details-fields .is_removable_field:nth-of-type(odd) {
  background: #F6F7F7;
}
.invoiceSettingsWrapper #wp360_invoice-settings-form fieldset#wp360-firm-details-fields .dynamic-field-template + div.is_removable_field {
  padding-top: 1rem !important;
}
.invoiceSettingsWrapper #wp360_invoice-settings-form fieldset#wp360-firm-details-fields .removeFieldWrapper {
  width: 100%;
  text-align: right;
}
.invoiceSettingsWrapper #wp360_invoice-settings-form fieldset#wp360-firm-details-fields .add_firm_new {
  border-top: 1px solid #e3e6ef;
  padding: 1rem;
}
.invoiceSettingsWrapper #wp360_invoice-settings-form fieldset div, .invoiceSettingsWrapper #wp360_invoice-settings-form fieldset h3, .invoiceSettingsWrapper #wp360_invoice-settings-form fieldset textarea, .invoiceSettingsWrapper #wp360_invoice-settings-form fieldset label, .invoiceSettingsWrapper #wp360_invoice-settings-form fieldset input[type=text] {
  width: 100%;
  box-sizing: border-box;
}
.invoiceSettingsWrapper #wp360_invoice-settings-form fieldset .removeWrapper, .invoiceSettingsWrapper #wp360_invoice-settings-form fieldset label.form-label {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
  font-weight: 500;
  gap: 0.7rem;
  padding: 0px;
  justify-content: space-between;
}
.invoiceSettingsWrapper #wp360_invoice-settings-form fieldset h3 {
  margin: 0px 0px 1rem 0px;
  padding: 1rem;
  border-bottom: 1px solid #e3e6ef;
}
.invoiceSettingsWrapper #wp360_invoice-settings-form fieldset label.description_label {
  margin-bottom: 10px;
  display: inline-block;
  font-weight: 500;
}
.invoiceSettingsWrapper #wp360_invoice-settings-form fieldset > div {
  padding: 1rem;
  padding-top: 0px;
}
.invoiceSettingsWrapper #wp360_invoice-settings-form fieldset > .is_removable_field {
  padding: 2rem 1rem;
}
.invoiceSettingsWrapper #wp360_invoice-settings-form fieldset textarea, .invoiceSettingsWrapper #wp360_invoice-settings-form fieldset input[type=text] {
  border: 1px solid #c3c4c7;
  padding: 6px 10px;
}
.invoiceSettingsWrapper #wp360_invoice-settings-form fieldset .remove-dynamic-field {
  border: none;
  margin: 0px;
  background: transparent;
  color: #d94f4f;
  cursor: pointer;
}

#wp360_invoice_extra_fields button.remove-field {
  border: none;
  margin: 0px;
  background: transparent;
  color: #d94f4f;
  cursor: pointer;
}

.wp360_invoice_admin_tabs ul li {
  display: inline-block;
  margin-right: 10px;
}
.wp360_invoice_admin_tabs ul li:after {
  content: "|";
  margin-left: 10px;
}
.wp360_invoice_admin_tabs ul li:last-child:after {
  content: "";
}
.wp360_invoice_admin_tabs ul li a {
  text-decoration: none;
  color: #2271b1;
}
.wp360_invoice_admin_tabs ul li a.active {
  color: #000;
}

#adminmenu a[href="admin.php?page=wp360-invoice-settings"] {
  display: none;
}

#wp360_invoice_receipt_modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}
#wp360_invoice_receipt_modal .modal-content {
  background-color: #fefefe;
  margin: clamp(50px, 5vw, 5vw) auto;
  padding: 20px;
  border: 1px solid #888;
  width: calc(100% - 30px);
  text-align: center;
  max-width: 1500px;
  position: relative;
}
#wp360_invoice_receipt_modal .close {
  font-size: 28px;
  font-weight: bold;
  display: block;
  aspect-ratio: 1/1;
  background: #080808;
  padding: 5px;
  border-radius: 50%;
  color: white;
  position: absolute;
  right: -10px;
  top: -10px;
  z-index: 5;
  text-decoration: none;
  cursor: pointer;
}

.wp360Invoice_action_buttons_wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 6px 15px;
}

.wp360Invoice_action_buttons {
  border-bottom: none !important;
}
.wp360Invoice_action_buttons._justify {
  justify-content: space-between;
}
.wp360Invoice_action_buttons .wp360invoice_btma {
  margin-right: auto;
}
.wp360Invoice_action_buttons #wp360-invoice_printinvoice, .wp360Invoice_action_buttons .wp360_invoice_status_update, .wp360Invoice_action_buttons .view_receipt {
  background: #fff;
  border: 1px solid #0c173b;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 4px 12px;
  cursor: pointer;
  color: #0c173b;
  margin-bottom: 8px;
  border-radius: 6px;
  line-height: 1.5;
  font-weight: 600;
}
.wp360Invoice_action_buttons .wp360_invoice_status_update, .wp360Invoice_action_buttons .view_receipt {
  background: #e4eaee;
  border: 1px solid #e4eaee;
  text-decoration: none !important;
}
.wp360Invoice_action_buttons .wp360_invoice_status {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 600;
}
.wp360Invoice_action_buttons .wp360_invoice_status.paid i {
  background-color: #22a753;
}
.wp360Invoice_action_buttons .wp360_invoice_status.paid i:before {
  content: "\f147";
}
.wp360Invoice_action_buttons .wp360_invoice_status i {
  background-color: #c32525;
  height: 1.625rem;
  width: 1.625rem;
  color: #fff;
  font-weight: 500;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.wp360Invoice_action_buttons .wp360_invoice_status i:before {
  font-family: "Dashicons";
  font-style: normal;
  content: "\f158";
}

@media (max-width: 767px) {
  #wp360_invoice-settings-form fieldset {
    flex: 100%;
  }
}
.viewInvoicePopup {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
.viewInvoicePopup .viewInvoicePopupContent {
  background: #fff;
  padding: 20px;
  max-width: 90%;
  max-height: 90%;
  width: 800px;
  overflow: auto;
  position: relative;
  margin: auto;
}

.wp360Invoice_action_buttons_admin {
  margin-left: 15px;
}/*# sourceMappingURL=admin_style.css.map */